body{

}

.favorite{
    height: 50px;
    width: 33px;
    display:flex;
    background-image: url(greystar.png);
    background-size: cover;

}

.time{
    display: flex;
    color:rgb(40, 50, 117);
    font-size: 20px;
    justify-content: left;
    align-self: start;

}

.user{
    color: grey;
    font-size: 20px;

}


.chat-text{
    inline-size: 300px;
    overflow-wrap: break-word;
}

#button{
    background-color: rgb(40, 50, 117);
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: white;


}
#go{
    background-color: rgb(40, 50, 117);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;


}
#button:hover{
    background-color:rgb(40, 50, 117);
}

#user2{
    
    font-family: 'Nunito', sans-serif;
    font-size: 20px;

}


#label{
    
    font-family: 'Nunito', sans-serif;
    font-size: 20px;

}
#chat{
    
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    


}

#logo{
    background-image: url(logo.png);
    height: 150px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;


}
#timeline{
    font-size: 40px;

    font-family: 'Nunito', sans-serif;
 

}

